.jumbotron {
    background-color: #610b83;
    color: rgb(199, 197, 207);
    padding-bottom: 10px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #610b83;
    margin-bottom: 0px;
    margin-top: 10px;
    color: rgb(199, 197, 207);
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 2px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    padding-right: 10px;
}